<div style="display: flex; flex-direction: row;">
  <h1 matDialogTitle>Vizualizar Medicamentos</h1>
  <span style="flex: 1 1 auto;"></span>
  <button matTooltip="Fechar a janela" mat-icon-button matDialogClose>
    <i class="material-icons" style="color: #565656;">close</i>
  </button>
</div>

<mat-dialog-content>
  <mat-list>
    <div class="colunas">
      <span style="margin-right: 165px;">Nome</span>
      <span>Dependentes</span>
    </div>

    <mat-list-item *ngFor="let element of medicamentosTot">
      <div [formGroup]="element.medicamento" fxLayout="row" fxLayoutGap="10px" style="width: 180px;">
        <mat-form-field fxFlex>
          <input matInput formControlName="nome" #nome>
          <mat-hint align="end">
            {{ nome.value?.length }} / 250
          </mat-hint>
          <mat-error>
            {{ retornarValidacoes(element.medicamento.get('nome'), 'nome') }}
          </mat-error>
        </mat-form-field>
      </div>

      <span style="margin: 0px 65px 0px 20px;">{{ element.totalDependentes }}</span>

      <span style="flex: 1 1 auto;"></span>

      <button matTooltip="Remover Medicamento" mat-icon-button (click)="onDelete(element)">
        <mat-icon class="material-icons">delete</mat-icon>
      </button>

      <button matTooltip="Editar Medicamento" mat-icon-button (click)="onUpdate(element.medicamento.value)" [disabled]="element.medicamento.invalid">
        <mat-icon class="material-icons">edit</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>

</mat-dialog-content>
