<div class="bg-pacientes" ngClass.xs="bg-xs">
  <h3 class="titulo" ngClass.xs="titulo-xs">Pacientes</h3>
  <div class="overlay" ngClass.xs="overlay-xs">
    Photo by
    <a href="https://unsplash.com/@lucassankey?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="blank">Lucas Sankey</a> on
    <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="blank">Unsplash</a>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center center" ngClass.xs="espaco-lateral">

  <div fxFlex="75%" fxFlex.md="65%" fxFlex.sm="60%" fxFlex.xs="50%">

    <mat-form-field>
      <input matInput placeholder="Filtro" type="string" (focus)="disabledFilter()" #filtroTexto>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Filtro Selecionado</mat-label>
      <mat-select #filtroTipo>
        <mat-option *ngFor="let op of filtroPesquisa" value="{{ op.valor }}" #tipo>
          {{ op.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="35%">
    <mat-card>
      <button mat-icon-button (click)="applyFilter(filtroTexto.value, filtroTipo.value)" [disabled]="(filtroTexto.value == '' || filtroTipo.value == null)">
        <mat-icon class="material-icons">search</mat-icon>
      </button>
      <button mat-icon-button [disabled]="selection.selected.length == 0">
        <mat-icon class="material-icons">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onDelete()" [disabled]="selection.selected.length == 0">
        <mat-icon class="material-icons">delete</mat-icon>
      </button>
      <button mat-icon-button [disabled]="selection.selected.length != 1">
        <mat-icon class="material-icons">perm_media</mat-icon>
      </button>
      <button mat-icon-button [disabled]="selection.selected.length > 0">
        <mat-icon class="material-icons">add</mat-icon>
      </button>
    </mat-card>
  </div>

</div>

<div class="mat-elevation-z8" class="espaco-lateral">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="idPessoa">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let paciente"> {{paciente.idPessoa}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let paciente"> {{paciente.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="familia">
      <th mat-header-cell *matHeaderCellDef> Família </th>
      <td mat-cell *matCellDef="let paciente"> {{paciente.familia.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="cpfCnpj">
      <th mat-header-cell *matHeaderCellDef> CPF/CNPJ </th>
      <td mat-cell *matCellDef="let paciente"> {{paciente.cpfCnpj}} </td>
    </ng-container>

    <ng-container matColumnDef="responsavelFamiliar">
      <th mat-header-cell *matHeaderCellDef> Responsável Familiar </th>
      <td mat-cell *matCellDef="let paciente"> {{paciente.responsavelFamiliar ? 'Sim' : 'Não'}} </td>
    </ng-container>

    <ng-container matColumnDef="dataNascimento">
      <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
      <td mat-cell *matCellDef="let paciente"> {{paciente.dataNascimento}} </td>
    </ng-container>

    <ng-container matColumnDef="nacionalidade">
      <th mat-header-cell *matHeaderCellDef> Nacionalidade </th>
      <td mat-cell *matCellDef="let paciente"> {{paciente.nacionalidade}} </td>
    </ng-container>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox [disabled]="pacientes.length == 0"
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let paciente">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(paciente) : null"
                      [checked]="selection.isSelected(paciente)"
                      [aria-label]="checkboxLabel(paciente)">
        </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
