.bg-pacientes {
  padding-top: 100px;
  height: 200px;
  width: 100%;
  background-color: #cecece;
}

.titulo {
  font-size: 30pt;
  margin-left: 30px;
  font-weight: bold;
  color: white;
}


mat-form-field {
  width: 100%;
}
