<div class="bg-controle" ngClass.xs="bg-xs">
  <h3 class="titulo" ngClass.xs="titulo-xs">Controle</h3>
  <div class="overlay" ngClass.xs="overlay-xs">
    Photo by
    <a href="https://unsplash.com/@firmbee?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      target="blank">William Iven</a> on
    <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      target="blank">Unsplash</a>
  </div>
</div>

<div style="padding: 0 20px;">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
    <mat-card fxFlex>
      <div class="img-card">
        <img matCardImage src="../../../assets/imagens/medicações.jpg" alt="imagem de medicamentos">
        <div class="img-card-overlay" ngClass.xs="img-card-overlay-xs">
          Photo by
          <a href="https://unsplash.com/@freestocks?utm_source=medium&utm_medium=referral"
            target="blank">freestocks.org</a> on
          <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="blank">Unsplash</a>
        </div>
      </div>

      <mat-card-content class="alinhamento-texto">
        Medicamentos
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-icon-button matTooltip="Cadastrar Medicamentos" (click)="abrirModalMedicamento('cadastrar')">
          <mat-icon class="material-icons">add</mat-icon>
        </button>

        <span class="espaco"></span>

        <button mat-icon-button matTooltip="Vizualizar Medicamentos" (click)="abrirModalMedicamento('vizualizar')">
          <mat-icon class="material-icons">description</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card fxFlex>
      <div class="img-card">
        <img matCardImage src="../../../assets/imagens/microareas.jpg" alt="imagem de microáres">
        <div class="img-card-overlay" ngClass.xs="img-card-overlay-xs">
          Photo by
          <a href="https://unsplash.com/@terminath0r?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="blank">Thor Alvis</a> on
          <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="blank">Unsplash</a>
        </div>
      </div>

      <mat-card-content class="alinhamento-texto">
        Microáres
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-icon-button matTooltip="Cadastrar Microáreas" (click)="abrirModalMicroarea('cadastrar')">
          <mat-icon class="material-icons">add</mat-icon>
        </button>

        <span class="espaco"></span>

        <button mat-icon-button matTooltip="Vizualizar Microáreas" (click)="abrirModalMicroarea('vizualizar')">
          <mat-icon class="material-icons">description</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxLayout="column" fxLayoutGap="10px" style="margin-top: 10px;">
    <mat-card fxFlex>
      <div class="img-card">
        <img matCardImage src="../../../assets/imagens/funcionarios.jpg">
        <div class="img-card-overlay" ngClass.xs="img-card-overlay-xs">
          Photo by
          <a href="https://unsplash.com/@hush52?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="blank">Hush Naidoo</a> on
          <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="blank">Unsplash</a>
        </div>
      </div>

      <mat-card-content class="alinhamento-texto">
        Funcionários
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-icon-button matTooltip="Cadastrar Funcionários" (click)="abrirModalFuncionarios('cadastrar')">
          <mat-icon class="material-icons">add</mat-icon>
        </button>

        <span class="espaco"></span>

        <button mat-icon-button matTooltip="Vizualizar Funcionários" (click)="abrirModalFuncionarios('vizualizar')">
          <mat-icon class="material-icons">description</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" style="margin-top: 10px;">
    <mat-card fxFlex>
      <div class="img-card">
        <img matCardImage src="../../../assets/imagens/ubs.jpg">
        <div class="img-card-overlay" ngClass.xs="img-card-overlay-xs">
          Photo by
          <a href="https://unsplash.com/@hush52?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="blank">Hush Naidoo</a> on
          <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="blank">Unsplash</a>
        </div>
      </div>

      <mat-card-content class="alinhamento-texto">
        Unidades Básicas de Saúde
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-icon-button matTooltip="Cadastrar UBS" (click)="abrirModalUbs('cadastrar')">
          <mat-icon class="material-icons">add</mat-icon>
        </button>

        <span class="espaco"></span>

        <button mat-icon-button matTooltip="Vizualizar UBS" (click)="abrirModalUbs('vizualizar')">
          <mat-icon class="material-icons">description</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card fxFlex>
      <div class="img-card">
        <img matCardImage src="../../../assets/imagens/funcoes.jpg">
        <div class="img-card-overlay" ngClass.xs="img-card-overlay-xs">
          Photo by
          <a href="https://unsplash.com/@glenncarstenspeters?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="blank">Glenn Carstens-Peters</a> on
          <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="blank">Unsplash</a>
        </div>
      </div>

      <mat-card-content class="alinhamento-texto">
        Funções
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-icon-button matTooltip="Cadastrar Funções" (click)="abrirModalFuncoes('cadastrar')">
          <mat-icon class="material-icons">add</mat-icon>
        </button>

        <span class="espaco"></span>

        <button mat-icon-button matTooltip="Vizualizar Funções" (click)="abrirModalFuncoes('vizualizar')">
          <mat-icon class="material-icons">description</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxLayout="column" fxLayoutGap="10px" style="margin-top: 10px;">
    <mat-card fxFlex>
      <div class="img-card">
        <img matCardImage src="../../../assets/imagens/riscos.jpg">
        <div class="img-card-overlay" ngClass.xs="img-card-overlay-xs">
          Photo by
          <a href="https://unsplash.com/@quinterocamilaa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="blank">Camila Quintero Franco</a> on
          <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="blank">Unsplash</a>
        </div>
      </div>

      <mat-card-content class="alinhamento-texto">
        Riscos do Paciente
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-icon-button matTooltip="Cadastrar Riscos" (click)="abrirModalRiscos('cadastrar')">
          <mat-icon class="material-icons">add</mat-icon>
        </button>

        <span class="espaco"></span>

        <button mat-icon-button matTooltip="Vizualizar Riscos" (click)="abrirModalRiscos('vizualizar')">
          <mat-icon class="material-icons">description</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>




