* {
  transition: 1s all;
}

mat-dialog-content {
  max-height: 450px;
  overflow-y: auto;
}

.dados-imagem-fundo {
  background-image: url("../../../assets/imagens/dados-familia.jpg");
  padding-top: 1px;
  height: 240px;
  width: 100%;
  background-size: cover;
  background-position-y: 10%;
  margin-bottom: 10px;
}

.overlay {
  bottom: 0;
  background: rgb(0, 0, 0);
  background: #0000007e;
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.overlay a {
  text-decoration: none;
  color: #969696;
}

.dados-imagem-fundo:hover .overlay {
  opacity: 1;
}

.info-principal {
  font-weight: 600;
  word-wrap: break-word;
  font-size: 18pt;
}

.info-principal mat-icon {
  float: left;
}

.info-principal span {
  display: inline;
}

.conteudo {
  width: auto;
  display: inline-block;
}

.lista-dados {
  width: 100%;
  height: auto;
}

mat-list {
  width: 100%;
  max-height: 160px;
  overflow-y: auto;
  margin-bottom: 20px;
}

mat-icon {
  font-size: Xx-large;
  margin-right: 15px;
}

.icone-inicio {
  display: inline-block;
  margin-right: 10px;
}

.paciente-detalhe {
  float: right;
}

.paciente-nome {
  font-size: large;
  font-weight: 500;
}

.paciente-descricao {
  font-size: Xx-small;
}
