<div style="display: flex; flex-direction: row;">
  <h1 matDialogTitle>Vizualizar Medicamentos</h1>
  <span style="flex: 1 1 auto;"></span>
  <button matTooltip="Fechar a janela" mat-icon-button matDialogClose>
    <i class="material-icons" style="color: #565656;">close</i>
  </button>
</div>

<mat-dialog-content>
  <mat-list>
    <div class="colunas">
      <span style="margin-right: 80px;">Número</span>
      <span style="margin-right: 150px;">Bairro</span>
      <span style="margin-right: 10px;">Pacientes</span>
      <span>ACS</span>
    </div>

    <mat-list-item *ngFor="let element of microareasTot">
      <div [formGroup]="element.microarea" fxLayout="row" fxLayoutGap="10px" style="width: 300px;">
        <mat-form-field fxFlex="40%">
          <input matInput type="number" (click)="atribuirValidadorAssincrono(element.microarea.get('numero'))" formControlName="numero" #numero>
          <mat-error>
            {{ retornarValidacoes(element.microarea.get('numero'), 'Número') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="60%">
          <mat-select formControlName="bairro">
            <mat-option *ngFor="let bairro of bairros" [value]="bairro.nome">{{ bairro.nome }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <span style="margin: 0px 40px;">{{ element.totPacientes }}</span>

      <span style="margin-right: 40px;">{{ element.funcionarioResponsavel ? element.funcionarioResponsavel?.nome : 'Não Atribuído' }}</span>

      <span style="flex: 1 1 auto;"></span>

      <button matTooltip="Remover Microárea" mat-icon-button (click)="onRemove(element)">
        <mat-icon class="material-icons">delete</mat-icon>
      </button>

      <button matTooltip="Alterar Microárea" mat-icon-button (click)="onUpdate(element.microarea.value)" [disabled]="element.microarea.invalid">
        <mat-icon class="material-icons">edit</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
