<h2 mat-dialog-title>Entrevista</h2>

<mat-dialog-content>
  <div [formGroup]="formVisitas" >

    <mat-form-field>
      <mat-label>Data da Visita</mat-label>
      <input  matInput  formControlName="dataVisita" [matDatepicker]="meuDatePicker" readonly >
      <mat-datepicker-toggle  [for]="meuDatePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #meuDatePicker disabled="true"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Anotações</mat-label>
      <textarea matInput  formControlName="anotacoes" ></textarea>
    </mat-form-field>

    <mat-slide-toggle formControlName="comparecerUbs"
        class="example-margin"
        [color]='"primary"'
        (change)="mudarComparecerUbs()"  >
        Comparecer na UBS
    </mat-slide-toggle>

    <mat-accordion>
      <mat-expansion-panel [disabled]="!comparecerUbs" (opened)="comparecerUbs == true" (close)="comparecerUbs == false" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Comparecer
          </mat-panel-title>
          <mat-panel-description>
            Agendar Comparecimento na UBS
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <mat-label>Data</mat-label>
          <input  matInput formControlName="dataCompare" [matDatepicker]="datePikerHorario" readonly >
          <mat-datepicker-toggle  [for]="datePikerHorario" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datePikerHorario ></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input  matInput [textMask]="{mask: mask, guide:false}"  placeholder="Hora" [formControl]='horarioControl'  >
        </mat-form-field>

        <mat-form-field>
          <input type="text"  formControlName="desCompare" matInput placeholder="Descrição" >
        </mat-form-field>
      </mat-expansion-panel>
    
    </mat-accordion>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout='row' fxLayout.xs='column' fxLayoutGap='10px' >
  <button color='warn' mat-raised-button matDialogClose fxFlex > 
    CANCELAR 
    <mat-icon class="material-icons" >cancel</mat-icon>
  </button>
  <br>
  <button color='primary' mat-raised-button fxFlex >
    Salvar
    <mat-icon class="material-icons" >send</mat-icon>
  </button>
</mat-dialog-actions>
