<h2 mat-dialog-title>Visita</h2>

<mat-dialog-content>
  <form [formGroup]="formVisitas" fxLayout="column" fxLayoutGap="10px">
    <mat-form-field fxFlex>
      <mat-label>Data da Visita</mat-label>
      <input matInput formControlName="dataVisita" [matDatepicker]="meuDatePicker" disabled readonly >
      <mat-datepicker-toggle [for]="meuDatePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #meuDatePicker disabled="true"></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex *ngIf="!data">
      <mat-select formControlName="pessoa" placeholder="Paciente">
        <mat-option *ngFor="let paciente of pacientes" [value]="paciente">
          {{ paciente.nome }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{ retornarValidacoes(formVisitas.get('pessoa'), 'Paciente') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Anotações</mat-label>
      <textarea matInput formControlName="anotacoes" rows="6"></textarea>
    </mat-form-field>

    <mat-slide-toggle formControlName="comparecerUbs" color='primary' (change)="mudarComparecerUbs()" fxFlex>
        Comparecer na UBS
    </mat-slide-toggle>

    <mat-accordion fxFlex>
      <mat-expansion-panel [disabled]="!comparecerUbs" [expanded]="comparecerUbs === true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Comparecer
          </mat-panel-title>
          <mat-panel-description>
            Agendar Comparecimento na UBS
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <mat-label>Data</mat-label>
          <input matInput formControlName="dataCompare" [matDatepicker]="datePikerHorario" readonly >
          <mat-datepicker-toggle [for]="datePikerHorario" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datePikerHorario ></mat-datepicker>
          <mat-error>
            {{ retornarValidacoes(formVisitas.get('dataCompare'), 'Data') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [textMask]="{mask: mask, guide:false}" placeholder="Hora" [formControl]='horarioControl' (click)="mudarCampoHora(horarioControl)">
          <mat-error>
            {{ retornarValidacoes(horarioControl, 'Horário') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="desCompare" matInput placeholder="Descrição" #descComparecimento>
          <mat-hint align="end">
            {{ descComparecimento.value?.length }} / 250
          </mat-hint>
          <mat-error>
            {{ retornarValidacoes(formVisitas.get('desCompare'), 'Descrição') }}
          </mat-error>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-form-field fxFlex>
      <mat-label>Proxima Visita</mat-label>
      <input matInput formControlName="proximaVisita" [matDatepicker]="datePikerProxima" readonly >
      <mat-datepicker-toggle [for]="datePikerProxima" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #datePikerProxima ></mat-datepicker>
      <mat-error>
        {{ retornarValidacoes(formVisitas.get('proximaVisita'), 'Próxima Visita') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <input matInput [textMask]="{mask: mask, guide:false}" placeholder="Hora" [formControl]='horarioProximaVisitaControl' (click)="mudarCampoHora(horarioProximaVisitaControl)">
      <mat-error>
        {{ retornarValidacoes(horarioProximaVisitaControl, 'Horário') }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayout='row' fxLayout.xs='column' fxLayoutGap='10px'>
  <button color='warn' mat-raised-button matDialogClose fxFlex>
    CANCELAR
    <mat-icon class="material-icons">cancel</mat-icon>
  </button><br>

  <button color='primary' mat-raised-button [disabled]="formVisitas.invalid || horarioProximaVisitaControl.invalid" (click)="onConfirm()" fxFlex>
    CONFIRMAR
    <mat-icon class="material-icons">{{ iconBtn }}</mat-icon>
  </button>
</mat-dialog-actions>
