<h2 mat-dialog-title>Entrevista</h2>

<mat-dialog-content>
  <div [formGroup]="formVisitas" >

    <mat-form-field>
      <mat-label>Data da Visita</mat-label>
      <input  matInput  formControlName="dataVisita" [matDatepicker]="meuDatePicker" readonly >
      <mat-datepicker-toggle  [for]="meuDatePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #meuDatePicker disabled="true"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Anotações</mat-label>
      <textarea matInput  formControlName="anotacoes" ></textarea>
    </mat-form-field>

    <mat-slide-toggle formControlName="comparecerUbs"
        class="example-margin"
        [color]='"primary"'
        [checked]="checked"
        [disabled]="disabled">
        Comparecer na UBS
    </mat-slide-toggle>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Comparecer
          </mat-panel-title>
          <mat-panel-description>
            Agendar Comparecimento na UBS
          </mat-panel-description>
        </mat-expansion-panel-header>
    
 <!--        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput type="number" min="1">
        </mat-form-field> -->
      </mat-expansion-panel>
      
    </mat-accordion>



  </div>
</mat-dialog-content>


<!--
<div class="comparecer-ubs" >
  <section>
    <mat-form-field>
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="dataComparecer" disabled>
      <mat-datepicker-toggle  [for]="dataComparecer" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #dataComparecer disabled="false"></mat-datepicker>
    </mat-form-field>


    <form class="agendar" >
      <label for="data">Data</label>
      <input type="date" id="data">

      <label for="hora">Hora</label>
      <input type="time" id="hora">

      <label for="descricao">Descrição</label>
      <input type="text" id="descricao">
    </form>

  </section>

</div>

 -->





























<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirmar</button>
</mat-dialog-actions>
