<mat-toolbar color="warn">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon class="material-icons">menu</mat-icon>
  </button>
  <a [routerLink]="['dashboard']" class="logo-page" (click)="snav.close()">
    <div class="logo-page">
      <div class="logo"></div>
      <h1 style="margin-left: 10px;">MindSafe</h1>
    </div>
  </a>
</mat-toolbar>
<mat-sidenav-container>

  <mat-sidenav ngClass.xs="sidenav-xs" ngClass.sm="sidenav-sm" ngClass.md="sidenav-md" ngClass.lg="sidenav-lg"
    class="sidenav" mode="over" [fixedBottomGap]="'0'" [fixedTopGap]="displayFixedTopGap" [fixedInViewport]="'true'" #snav>
    <div class="informacoes-funcionario">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar [src]="imgUsuario"/>
          <mat-card-title>{{ funcionario !== null ? funcionario?.nome : 'Informações não retornadas' }}</mat-card-title>
          <mat-card-subtitle>{{ funcionario !== null ? funcionario.funcao?.nome : '' }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          {{ funcionario !== null ? funcionario?.email : '' }}
        </mat-card-content>

        <mat-card-actions align="end">
          <button matTooltip="Editar Informações" matTooltipPosition="before" mat-fab color="primary" (click)="openModalInfo()" [disabled]="funcionario.idFuncionario === undefined">
            <i class="material-icons">edit</i>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="menu">
      <p id="menu-title">MENU</p>
      <div class="divisor-white"></div>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['residencias']" (click)="snav.toggle()">RESIDÊNCIAS</a>
        <a mat-list-item [routerLink]="['familias']" (click)="snav.toggle()">FAMÍLIAS</a>
        <a mat-list-item [routerLink]="['pacientes']" (click)="snav.toggle()">PACIENTES</a>
        <a mat-list-item [routerLink]="['controle']" (click)="snav.toggle()">CONTROLE</a>
        <a mat-list-item [routerLink]="['visitas']" (click)="snav.toggle()">VISITAS</a>
        <div class="divisor-white"></div>
        <a mat-list-item (click)="sair()">SAIR <i class="material-icons">exit_to_app</i></a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-progress-bar style="position: fixed;" mode="indeterminate" *ngIf="progressService.visibility | async"></mat-progress-bar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
