<div style="display: flex; flex-direction: row;">
  <h1 matDialogTitle>Informações da Residência</h1>
  <span style="flex: 1 1 auto;"></span>
  <button matTooltip="Fechar a janela" mat-icon-button matDialogClose>
    <i class="material-icons" style="color: #565656;">close</i>
  </button>
</div>

<mat-dialog-content>
  <div class="imagem-residencia">
    <div class="overlay" ngClass.xs="overlay-xs">
      Photo by
      <a href="https://unsplash.com/@bantersnaps?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
        target="blank">bantersnaps</a> on
      <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
        target="blank">Unsplash</a>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
    <div fxLayout="column" fxFlex>
      <div fxFlex>
        <mat-icon>group</mat-icon>
        <span [ngStyle]="{ 'font-size': '16pt', 'font-weight': '500' }">
          {{ residencia.familia.nome }}
        </span>
      </div>

      <div fxFlex>
        <mat-icon>face</mat-icon>
        <span>{{ totMembros$ | async }}</span>
      </div>

      <div fxFlex>
        <mat-icon>palette</mat-icon>
        <span>{{ residencia.cor ? residencia.cor : 'Sem atribuição' }}</span>
      </div>
    </div>

    <div fxLayout="column" fxFlex>
      <div fxFlex>
        <mat-icon>room</mat-icon>
        <span>{{ endereco.join(' - ') }}</span>
      </div>
    </div>
  </div>
</mat-dialog-content>
