.imagem-residencia {
  padding-top: 1px;
  height: 260px;
  width: 100%;
  background-image: url('../../../assets/imagens/residencias-info.jpg');
  background-size: cover;
  background-position: center;
  background-position-y: 100%;
  margin-bottom: 20px;
}

.imagem-residencia:hover .overlay {
  opacity: 1;
}

.overlay {
  bottom: 0;
  background: rgb(0, 0, 0);
  background: #0000007e;
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.overlay a {
  text-decoration: none;
  color: #969696;
}

span {
  font-size: 14pt;
  font-weight: 400;
  margin-bottom: 5px;
  transition: 1s all;
}

mat-icon {
  margin: 0px 10px 10px 0px;
  padding: 0.5%;
  vertical-align: -20%;
  font-size: 2em;
}
