.cabecalho{
  position: relative;
  margin: auto;
}

.imagem-residencia{
  padding-top: 1px;
  height: 100px;
  width: 100%;
  background-image: url('../../../assets/imagens/residencias-info.jpg');
  background-size: cover;
  background-position-y: 100%;
  margin-bottom: 20px;
}

.imagem-residencia:hover .overlay {
  opacity: 1;
}

.overlay {
  bottom: 0;
  background: rgb(0, 0, 0);
  background: #0000007e;
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.overlay a {
  text-decoration: none;
  color: #969696;
}

button {
  position: relative;
  float: right;
  margin-top: -55px;
}

.imagem-residencia{
  background-color: lightcoral;
  width: 100%;
  height: 50%;
  text-align: center;
}

.info-familia{
  float: left;
  width: 50%;
  position: relative;
}

.info-familia h2,h3{
  position: relative;
  margin-top: 5%;
  margin-left: 7%;
  margin-bottom: -6%;
}

.info-residencia{
  margin-top: 1.0%;
  width: 50%;
  float: right;

}

#maticon{
  margin-right: 6%;
  padding: 0.5%;
  vertical-align: -20%;
  font-size: 2em;
}

.info-componentes-familia{


}

.button-xs {
  margin-right: -20px;
  margin-top: -65px;
}

.box-padrao {
  box-shadow: 1px 1px 6px #00000091;
  margin: 5px 0 5px 0;
  height: 145px;
  border-radius: 5px;
  overflow-y: auto;
}

