<!--classe que coloca a imagem no topo da pagina-->
<div class="bg-visitas" ngClass.xs="bg-xs">
  <h3 class="titulo" ngClass.xs="titulo-xs">Visitas</h3>
  <div class="overlay" ngClass.xs="overlay-xs">
    Photo by
    <a href="https://unsplash.com/@chrisliverani?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="blank">Chris Liverani</a> on
    <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="blank">Unsplash</a>
  </div>
</div>


<div style="padding-left: 20px; padding-right: 20px;">

  <mat-card>
    <mat-card-content>
      <mat-icon class="material-icons">record_voice_over</mat-icon>
      <h2>{{ msg }}</h2>
    </mat-card-content>
    <mat-card-actions>
      <button class="full-size" color="primary" mat-raised-button>Continuar Visistas <i
        class="material-icons">send</i></button>
    </mat-card-actions>
  </mat-card>

  <h2>Pacientes Visitados</h2>

  <mat-card>
    <mat-list class="cabecalho">
      <mat-list-item>
        <div class="alinhamento esquerda small-size text-bold">
          Código
        </div>
        <div class="alinhamento esquerda text-bold">
          Paciente
        </div>
        <div class="alinhamento esquerda text-bold middle-size">
          Data da Visita
        </div>
        <div class="alinhamento esquerda small-size text-bold">
          Status
        </div>
        <div class="alinhamento esquerda small-size text-bold">

        </div>
      </mat-list-item>
    </mat-list>

    <mat-list>
      <mat-list-item *ngFor="let visita of visitas$ | async">
        <div class="alinhamento esquerda small-size">
          {{ visita.idVisita }}
        </div>
        <div class="alinhamento esquerda">
          {{ visita.pessoa.nome }}
        </div>
        <div class="alinhamento esquerda middle-size">
          {{ visita.dataVisita | date }}
        </div>
        <div class="alinhamento esquerda small-size">
          <mat-icon class="material-icons" id="valid" *ngIf="visita.idVisita != null">done</mat-icon>
        </div>
        <div class="alinhamento direita small-size">
          <button mat-mini-fab color="primary" (click)="openModal(visita)">
            <i class="material-icons">edit</i>
          </button>
        </div>
      </mat-list-item>
    </mat-list>

  </mat-card>

</div>


