<!--classe que coloca a imagem no topo da pagina-->
<div class="bg-visitas" ngClass.xs="bg-xs">
  <h3 class="titulo" ngClass.xs="titulo-xs">Visitas</h3>
  <div class="overlay" ngClass.xs="overlay-xs">
    Photo by
    <a href="https://unsplash.com/@chrisliverani?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      target="blank">Chris Liverani</a> on
    <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      target="blank">Unsplash</a>
  </div>
</div>

<div fxLayout="column" fxLayout.lg="row" fxLayoutGap="20px" id="div-container">
  <div fxFlex>
    <h2>Visitas Concluídas</h2>

    <mat-list id="visitas-concluidas">
      <mat-list-item *ngFor="let element of visitasConcluidas.sort(ordenarPorDataDecrescente)">
        <mat-icon class="material-icons" [ngStyle]="{'color': element.risco}" style="margin-right: 10px;">lens
        </mat-icon>

        <span style="margin-right: 20px; width: 200px;">{{ element.visita.pessoa.nome }}</span>

        <span class="espaco"></span>
        <span style="margin-right: 20px;">{{ element.visita.dataVisita | date:'short' }}</span>

        <span class="espaco"></span>
        <div [ngStyle]="{'color': element.visita.status.cor}">
          <mat-icon class="material-icons">{{ element.visita.status.icone }}</mat-icon>
          <span [ngStyle]="{
            'margin-right': '10px',
            'position': 'relative',
            'top': '-5px',
            'font-size': '13pt'
          }">
          {{ element.visita.status.mensagem }}
          </span>
        </div>

        <span class="espaco"></span>
        <button mat-icon-button (click)="openModal(element.visita)">
          <mat-icon class="material-icons">edit</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>

  <div fxFlex>
    <h2>Visitas Pendentes</h2>

    <mat-list>
      <div id="visitas-pendentes" [ngStyle]="{
        'max-height': visitasPendentes[1].visitas.length === 0 ? '290px' : '120px'
      }">
        <mat-list-item *ngFor="let element of visitasPendentes[0].visitas.sort(ordernarPorDataCrescente)">
          <mat-icon class="material-icons" [ngStyle]="{'color': element.risco}" style="margin-right: 10px;">lens
          </mat-icon>

          <span style="margin-right: 20px; width: 200px;">{{ element.visita.pessoa.nome }}</span>

          <span class="espaco"></span>
          <span style="margin-right: 20px;">{{ element.visita.dataVisita | date:'short' }}</span>

          <span class="espaco"></span>
          <div [ngStyle]="{'color': element.visita.status.cor}">
            <mat-icon class="material-icons">{{ element.visita.status.icone }}</mat-icon>
            <span [ngStyle]="{
              'margin-right': '10px',
              'position': 'relative',
              'top': '-5px',
              'font-size': '13pt'
            }">
            {{ element.visita.status.mensagem }}
            </span>
          </div>

          <span class="espaco"></span>
          <button mat-icon-button (click)="openModal(element.visita)">
            <mat-icon class="material-icons">description</mat-icon>
          </button>
        </mat-list-item>
      </div>

      <div *ngIf="visitasPendentes[1].visitas.length > 0">
        <h1 mat-subheader>Visitas Atrasadas</h1>

        <div id="visitas-atrasadas">
          <mat-list-item *ngFor="let element of visitasPendentes[1].visitas.sort(ordernarPorDataCrescente)">
            <mat-icon class="material-icons" [ngStyle]="{'color': element.risco}" style="margin-right: 10px;">lens
            </mat-icon>

            <span style="margin-right: 20px; width: 200px;">{{ element.visita.pessoa.nome }}</span>

            <span class="espaco"></span>
            <span style="margin-right: 20px;">{{ element.visita.dataVisita | date:'short' }}</span>

            <span class="espaco"></span>
            <div [ngStyle]="{'color': element.visita.status.cor}">
              <mat-icon class="material-icons">{{ element.visita.status.icone }}</mat-icon>
              <span [ngStyle]="{
                'margin-right': '10px',
                'position': 'relative',
                'top': '-5px',
                'font-size': '13pt'
              }">
              {{ element.visita.status.mensagem }}
              </span>
            </div>

            <span class="espaco"></span>
            <button mat-icon-button (click)="openModal(element.visita)">
              <mat-icon class="material-icons">description</mat-icon>
            </button>
          </mat-list-item>
        </div>
      </div>
    </mat-list>
  </div>
</div>

<button mat-fab color="primary" matTooltip="Acrescentar nova visita" [matTooltipPosition]="'before'" (click)="openModal()" id="float-button">
  <mat-icon class="material-icons">add</mat-icon>
</button>
