mat-card-content {
  text-align: center;
}

mat-card-content h2 {
    font-size: 20pt;
    font-weight: 600;
    color: #b1b1b1;
}

.bg-visitas {
  padding-top: 1px;
  height: 300px;
  width: 100%;
  background-image: url('../../../assets/imagens/visitas.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.overlay {
  bottom: 0;
  background: rgb(0, 0, 0);
  background: #0000007e;
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.overlay a {
  text-decoration: none;
  color: #969696;
}

.bg-visitas:hover .overlay {
  opacity: 1;
}

.titulo {
  position: relative;
  margin-top: 148px;
  font-size: 30pt;
  margin-left: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 10px #000000;
}

.titulo-xs {
  font-size: 15pt;
  margin-top: 98px;
}

.overlay-xs {
  font-size: 15px;
}

.bg-xs {
  height: 200px;
}

.colunas {
  padding: 5px 0px;
  margin: 5px 15px;
  font-size: 14px;
  font-weight: 500;
  color: #8a8a8a;
}

.circulo {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  position: relative;
}

#div-container {
  margin: 0 56px;
}

mat-list {
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  margin: 10px 0px;
}

mat-list-item {
  margin: 8px 0px;
}

h2 {
  color: #707070;
}

#visitas-pendentes, #visitas-atrasadas {
  max-height: 180px;
  overflow-y: auto;
}

.espaco {
  flex: 1 1 auto;
}

#float-button {
  position: fixed;
  right: 15px;
  bottom: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
