<div style="display: flex; flex-direction: row;">
  <h1 mat-dialog-title>Informações Pessoais</h1>
  <span style="flex: 1 1 auto;"></span>
  <button matTooltip="Fechar a janela" aria mat-icon-button (click)="onClose()">
    <i class="material-icons" style="color: #565656;">close</i>
  </button>
</div>

<div mat-dialog-content [formGroup]="formFuncionario">
  <div class="content-avatar" [ngStyle.xs]="{'margin': '15px 20% 40px 20%'}">
    <div class="avatar" [ngStyle]="{'background-image': 'url(' + imgUser + ')' }">
      <button matTooltip="Adicionar/Alterar foto" mat-icon-button class="input-img">
        <label for="file-input" class="material-icons">edit</label>
      </button>

      <input type="file" id="file-input" (change)="onSelectFile($event)" accept="image/png, image/jpeg" style="display: none;">
    </div>

    <button matTooltip="Remover imagem" mat-mini-fab color="warn" (click)="onRemoveImg()" class="actions" [disabled]="formFuncionario.value === null || formFuncionario.get('imagem').value === null || imgUpload !== null">
      <mat-icon class="material-icons">delete</mat-icon>
    </button><br><br>

    <button matTooltip="Fazer upload" mat-mini-fab color="primary" (click)="onUpload()" style="margin-left: 125px;" [disabled]="imgUpload === null || mostrarErroArquivo">
      <mat-icon class="material-icons">add_a_photo</mat-icon>
    </button>

    <mat-error id="msg-erro-arquivo" *ngIf="mostrarErroArquivo">
      <span>Selecione um arquivo de no máximo <strong>1,04MB</strong></span>
    </mat-error>
  </div>

  <div class="forms" [formGroup]="formFuncionario" ngClass.lg="direita" ngClass.md="direita" ngClass.sm="direita" fxLayout="column" fxLayoutGap="10px">
    <div class="input-button">
      <mat-form-field fxFlex>
        <input formControlName="nome" matInput placeholder="Nome" #nome>
        <mat-hint align="end">
          <span>{{ nome?.value.length }} / 250</span>
        </mat-hint>
        <mat-error>
          {{ retornarValidacoes('nome', 'Nome') }}
        </mat-error>
      </mat-form-field>

      <button [disabled]="formFuncionario.get('nome').invalid" (click)="alterar('Nome')" mat-icon-button matTooltip="Editar nome">
        <mat-icon class="material-icons">edit</mat-icon>
      </button>
    </div>

    <div class="input-button">
      <mat-form-field fxFlex>
        <input formControlName="email" (click)="atribuirValidadorAsync('email')" matInput placeholder="E-mail" #email>
        <mat-hint align="end">
          <span>{{ email?.value.length }} / 250</span>
        </mat-hint>
        <mat-error>
          <span>{{ retornarValidacoes('email', 'E-mail') }}</span>
        </mat-error>
      </mat-form-field>

      <button [disabled]="formFuncionario.get('email').invalid" (click)="alterar('E-mail')" mat-icon-button matTooltip="Editar e-mail">
        <mat-icon class="material-icons">edit</mat-icon>
      </button>
    </div>

    <div class="input-button">
      <mat-form-field fxFlex>
        <input formControlName="login" (click)="atribuirValidadorAsync('login')" matInput placeholder="Login" #login>
        <mat-hint align="end">
          <span>{{ login?.value.length }} / 250</span>
        </mat-hint>
        <mat-error>
          <span>{{ retornarValidacoes(formFuncionario.get('login'), 'Login') }}</span>
        </mat-error>
      </mat-form-field>

      <button [disabled]="formFuncionario.get('login').invalid" (click)="alterar('Login')" mat-icon-button matTooltip="Editar login">
        <mat-icon class="material-icons">edit</mat-icon>
      </button>
    </div>
  </div>

  <div class="forms" [formGroup]="formFuncionario" fxLayout="column" fxLayoutGap="10px">
    <div class="input-button">
      <mat-form-field fxFlex>
        <mat-select formControlName="funcao" placeholder="Função" [(ngModel)]="this.formFuncionario.get('funcao').value">
          <mat-option *ngFor="let funcao of funcoes" [value]="funcao">
            {{ funcao.nome }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span>{{ retornarValidacoes(formFuncionario.get('funcao'), 'Função') }}</span>
        </mat-error>
      </mat-form-field>

      <button [disabled]="formFuncionario.get('funcao').invalid" (click)="alterar('Função')" mat-icon-button matTooltip="Editar Função">
        <mat-icon class="material-icons">edit</mat-icon>
      </button>
    </div>

    <div class="input-button">
      <mat-form-field fxFlex>
        <input matInput type="number" formControlName="codEquipe" placeholder="Código da equipe">
        <mat-error>
          <span>{{ retornarValidacoes(formFuncionario.get('codEquipe'), 'Código da equipe') }}</span>
        </mat-error>
      </mat-form-field>

      <button [disabled]="formFuncionario.get('codEquipe').invalid" (click)="alterar('Código da Equipe')" mat-icon-button matTooltip="Editar Código da Equipe">
        <mat-icon class="material-icons">edit</mat-icon>
      </button>
    </div>

    <div class="input-button">
      <mat-form-field fxFlex>
        <mat-select formControlName="ubs" [(ngModel)]="this.formFuncionario.get('ubs').value" placeholder="UBS">
          <mat-option *ngFor="let ubs of ubsList" [value]="ubs">
            {{ ubs.nome }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span>{{ retornarValidacoes(formFuncionario.get('ubs'), 'UBS') }}</span>
        </mat-error>
      </mat-form-field>

      <button [disabled]="formFuncionario.get('funcao').invalid" (click)="alterar('UBS')" mat-icon-button matTooltip="Editar Função">
        <mat-icon class="material-icons">edit</mat-icon>
      </button>
    </div>

    <div class="input-button">
      <mat-form-field fxFlex>
        <mat-select formControlName="microArea" [(ngModel)]="this.formFuncionario.get('microArea').value" placeholder="Microárea">
          <mat-optgroup *ngFor="let grupo of gruposMicroareas" [label]="grupo.nome" [disabled]="grupo.disabled">
            <mat-option *ngFor="let microarea of grupo.microareas" [value]="microarea">
              <span style="position: relative; float: left;">
                Microárea {{ microarea.numero }}
              </span>

              <span style="position: relative; float: right;">
                {{ microarea.bairro.nome }}
              </span>
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-error>
          <span>{{ retornarValidacoes(formFuncionario.get('microArea'), 'Microárea') }}</span>
        </mat-error>
      </mat-form-field>

      <button [disabled]="formFuncionario.get('microArea').invalid" (click)="alterar('Microárea')" mat-icon-button matTooltip="Editar Microárea">
        <mat-icon class="material-icons">edit</mat-icon>
      </button>
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Senha
          </mat-panel-title>

          <mat-panel-description>
            Alterar a Senha
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div [formGroup]="formFuncionario" fxLayout="column" fxLayoutGap="10px">
          <mat-form-field>
            <input matInput [type]="esconderSenha ? 'text' : 'password'" formControlName="senha" placeholder="Senha" #senha>
            <mat-hint align="end">
              <span>{{ senha?.value.length }} / 10</span>
            </mat-hint>
            <mat-error>
              {{ retornarValidacoes(formFuncionario.get('senha'), 'Senha') }}
            </mat-error>
            <button mat-icon-button matSuffix (click)="mudarVisibilidadeSenha()">
              <mat-icon>{{ esconderSenha ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field>
            <input matInput [type]="esconderSenha ? 'text' : 'password'" [formControl]="confirmarSenhaControl" placeholder="Confirmar Senha" #confirmarSenha>
            <mat-hint align="end">
              <span>{{ confirmarSenha?.value.length }} / 10</span>
            </mat-hint>
            <button mat-icon-button matSuffix (click)="mudarVisibilidadeSenha()">
              <mat-icon>{{ esconderSenha ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-error>
              {{ retornarValidacoes(confirmarSenhaControl, 'confirmar') }}
            </mat-error>
          </mat-form-field>

          <mat-action-row>
            <button (click)="cancelarAlteracaoSenha()" [disabled]="confirmarSenhaControl.value === '' || formFuncionario.get('senha').value === ''" mat-icon-button matTooltip="Cancelar alteração">
              <i class="material-icons">thumb_down</i>
            </button>

            <button (click)="alterar('Senha')" [disabled]="confirmarSenhaControl.invalid || formFuncionario.get('senha').invalid" mat-icon-button matTooltip="Confirmar alteração">
              <i class="material-icons">thumb_up</i>
            </button>
          </mat-action-row>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
