.content-avatar {
  margin: 10px;
}

.input-img {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  width: 150px;
  height: 150px;
  transition: 1s all;
}

.avatar:hover .input-img {
  opacity: 1;
}

button label {
  cursor: pointer;
  padding: 55px;
}

.actions {
  display: block;
  margin: -135px 0px 175px 125px;
}

.avatar {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
