button {
  position: relative;
  float: right;
  margin-top: -55px;
}

.bg-situacao-paciente {
  height: 180px;
  width: 100%;
}

.sem-risco {
  background-color: rgb(46, 46, 204);
}

.risco-medio {
  background-color: rgb(212, 255, 0);
}

.risco-alto {
  background-color: rgb(219, 35, 35);
}

.logo {
  border: 8px solid #ffffff;
  margin-left: 20px;
  margin-top: -85px;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}

.logo-xs {
  margin-left: 0 auto;
}

.homem {
  background-image: url('../../../assets/imagens/pacientes-modal-homem.png');
}

.mulher {
  background-image: url('../../../assets/imagens/pacientes-modal-mulher.png');
}

.nome-usuario {
  margin-left: 210px;
  margin-top: -90px;
  font-size: 28pt;
}

.contatos-usuario {
  margin-left: 210px;
  margin-top: -30px;
}

.box-padrao {
  box-shadow: 1px 1px 6px #00000091;
  margin: 0 0 5px 0;
  height: 145px;
  border-radius: 5px;
  overflow-y: auto;
}

.alinhamento-esquerda {
  position: relative;
  float: left;
}

.alinhamento-direita {
  position: relative;
  float: right;
}

.titulo-descricao {
  margin-top: 35px;
  color: #5A5A5A;
}

.causas {
  position: relative;
  float: left;
  width: 45%;
}

.medicamentos {
  position: relative;
  float: right;
  width: 45%;
}
