button {
  position: relative;
  float: right;
  margin-top: -55px;
}

.button-xs {
  margin-right: -20px;
  margin-top: -65px;
}

.bg-situacao-paciente {
  height: 180px;
  width: 100%;
}

.sem-risco {
  background-color: rgb(46, 46, 204);
}

.risco-baixo {
  background-color: rgb(27, 180, 27);
}

.risco-medio {
  background-color: rgb(194, 191, 0);
}

.risco-grave {
  background-color: rgb(219, 35, 35);
}

.logo {
  border: 8px solid #ffffff;
  margin-left: 20px;
  margin-top: -85px;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}

.logo-xs {
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.homem {
  background-image: url('../../../assets/imagens/pacientes-modal-homem.png');
}

.mulher {
  background-image: url('../../../assets/imagens/pacientes-modal-mulher.png');
}

.nome-usuario {
  margin-left: 210px;
  margin-top: -90px;
  font-size: 28pt;
}

.nome-usuarios-xs {
  font-size: 25pt;
  margin: auto;
  text-align: center;
}

.contatos-usuario {
  margin-left: 210px;
  margin-top: -30px;
}

.contatos-usuario-xs {
  text-align: center;
  margin: auto;
}

.box-padrao {
  box-shadow: 1px 1px 6px #00000091;
  margin: 5px 0 5px 0;
  height: 145px;
  border-radius: 5px;
  overflow-y: auto;
}

.alinhamento-esquerda {
  position: relative;
  float: left;
}

.alinhamento-direita {
  position: relative;
  float: right;
}

.titulo-descricao {
  margin-bottom: 10px;
  margin-top: 10px;
  color: #5A5A5A;
}

.causas {
  position: relative;
  float: left;
  width: 48%;
}

.causas-xs {
  position: relative;
  float: none;
  width: 100%;
}

.medicamentos {
  position: relative;
  float: right;
  width: 48%;
}

.medicamentos-xs {
  position: relative;
  float: none;
  width: 100%;
}

.adendamentos {
  width: 100%
}

.risco-texto-overlay {
  text-align: right;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.527);
  color: white;
  margin: 5px;
  font-size: 22pt;
  opacity: 0;
  transition: opacity 1s;
}

.bg-situacao-paciente:hover .risco-texto-overlay {
  opacity: 1;
}
