/* Classes */

.esqueci-senha {
  text-decoration: none;
  color: rgb(133, 133, 133);
  font-weight: 500;
  font-size: 11pt;
  margin-top: 30px;
  display: block;
  float: right;
}

.titulo {
  display: block;
  text-align: center;
  font-size: 32pt;
  margin-top: 10px;
  font-weight: 400;
  color: white;

}

.titulo-xs {
  font-size: 25pt;
}

.logo {
  margin: auto;
  background-image: url('../../../assets/logo-tcc.png');
  background-size: cover;
  width: 250px;
  height: 200px;
}

.logo-xs {
  width: 160px;
  height: 130px;
}

.bg-login {
  background-image: url('../../../assets/imagens/login.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
}

.bg-login-xs {
  height: 300px;
}

.overlay {
  margin-top: 22px;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: #0000007e;
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.link-overlay {
  position: relative;
  text-decoration: none;
  color: #969696;
}

.bg-login:hover .overlay {
  opacity: 1;
}

.overlay-xs {
  margin-top: 10px;
  font-size: 15px;
}


/* Tags */

mat-form-field {
  width: 100%;
}

button {
  margin-top: 20px;
  width: 100%;
}

h1 {
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 40pt;
  color: #565656;
}
