@import 'https://www.w3schools.com/w3css/4/w3.css';

h1 {
  margin-top: 2px;
  text-align: center;
  font-weight: 500;
  font-size: 50pt;
  color: #272727;
}

h2 {
  margin-top: 1px;
  text-align: center;
  font-weight: 400;
  font-size: 25pt;
  letter-spacing: 5px;
  color: #747474;
}

img {
  width: 25%;
  height: auto;
}

#img-erro {
  text-align: center;
}

#img-erro a {
  text-decoration: none;
  color: #3751e4;
}

#licensa {
  margin: 0px auto;
  opacity: 0;
  transition: all 1s;
}

#img-erro:hover #licensa {
  opacity: 1;
}

mat-icon {
  margin-left: 10px;
}

button {
  padding: 5px 20px;
  font-size: 13pt;
  margin: 0px auto 10px;
  width: auto;
}
