<mat-toolbar color="warn">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon class="material-icons">menu</mat-icon>
  </button>
  <div class="logo-page">
    <div class="logo"></div>
    <h1 style="margin-left: 10px;">MindSafe</h1>
  </div>
</mat-toolbar>
<mat-sidenav-container>

  <mat-sidenav class="sidenav" mode="over" #snav>
    <div class="informacoes-funcionario">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar id="avatar"></div>
          <mat-card-title>Nome do Funcionário</mat-card-title>
          <mat-card-subtitle>Função do Funcionário</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Text content
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-fab color="primary">
            <i class="material-icons">edit</i>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="menu">
      <p id="menu-title">MENU</p>
      <div class="divisor-white"></div>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/login']">LOGIN</a>
        <mat-divider></mat-divider>
        <a mat-list-item>RESIDÊNCIAS</a>
        <a mat-list-item>FAMÍLIAS</a>
        <a mat-list-item [routerLink]="['/pacientes']">PACIENTES</a>
        <a mat-list-item>CONTROLE</a>
        <a mat-list-item [routerLink]="['/visitas']">VISITAS</a>
        <div class="divisor-white"></div>
        <a mat-list-item>SAIR <i class="material-icons">exit_to_app</i></a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

