/* Classes */

.logo-page {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.logo {
  background-image: url('../../assets/logo-tcc.png');
  background-size: cover;
  width: 35px;
  height: 35px;
}

.sidenav {
  background-color: rgb(214, 26, 26);
}

.divisor-white {
  border-bottom: 1px solid white;
  margin: 10px;
}

/* IDs */

#menu-title {
  margin: 10px;
  font-size: 18pt;
  color: white;
}

#avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  background-size: cover;
}

/* Tags */

mat-card {
  background-color: rgb(214, 26, 26);
  background-image: url('../../assets/fundo-sidenav.jpg');
  background-size: cover;
}

mat-nav-list a {
  color: white;
}

.sidenav-xs {
  width: 90%;
}

.sidenav-sm {
  width: 70%;
}

.sidenav-md {
  width: 45%;
}

.sidenav-lg {
  width: 30%;
}
